In [1]:
24000

24000

In [2]:
24000 - 10000

14000

In [3]:
14000 - 5000

9000

In [4]:
salary = 24000

salary

24000

In [5]:
house_rent = 10000

food_exp = 5000

In [6]:
house_rent

10000

In [7]:
food_exp

5000

In [8]:
total_expense = house_rent + food_exp

total_expense

15000

In [9]:
savings = salary - total_expense
savings

9000

In [10]:
print("My savings in a year is:", savings)

My savings in a year is: 9000

In [11]:
course_fee = 299
num_of_months = 6

In [12]:
total_fee = course_fee * num_of_months

print(total_fee)

1794

In [13]:
num_1 = 2
num_2 = 2

In [14]:
print(num_1 + num_2)

4

In [15]:
total = num_1 + num_2

In [16]:
total

4

In [17]:
"day" + "light"

'daylight'

In [18]:
num_1 = 2
num_2 = "2"

In [19]:
num_1 + num_2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
type(num_1)

int

In [21]:
type(num_2)

str

In [22]:
x = True
y = False

In [23]:
print('x and y is:', x and y)

x and y is: False

In [24]:
print('x or y is:', x or y)

x or y is: True

In [25]:
print('not x is:', not x)

not x is: False

In [26]:
print('not y is:', not y)

not y is: True

In [27]:
x = "awesome"
x

'awesome'

In [28]:
print("Python is " + x)

Python is awesome

In [29]:
x = "Python is "
y = "awesome "

z =  x + y

print(z)

Python is awesome

In [30]:
a = z * 4
print(a)

Python is awesome Python is awesome Python is awesome Python is awesome

In [31]:
len(x)

10

In [32]:
len(z)

18

In [33]:
x = y = z = "Python"

print (x)
print (y)
print (z)

Python
Python
Python

In [34]:
b = x + y

b

'PythonPython'

In [35]:
x = y == z

print (x)

True

In [36]:
a, b, c = 5, 3.2, "Hello"

print (a)
print (b)
print (c)

5
3.2
Hello

In [37]:
color_a = 'Red'
color_b = 'Blue'

print (color_a , color_b)

Red Blue

In [38]:
color_c = color_a
print (color_a , color_b , color_c)

Red Blue Red

In [39]:
color_a = color_b
print (color_a , color_b , color_c)

Blue Blue Red