In [1]:
set_string = {"Emma", "Olivia", "Ava", "Mia"}

set_string

{'Ava', 'Emma', 'Mia', 'Olivia'}

In [2]:
print(set_string)

{'Mia', 'Ava', 'Olivia', 'Emma'}

In [3]:
empty_set = set()

empty_set

set()

In [4]:
print(type(empty_set))

<class 'set'>

In [5]:
mixed_set = {"Emma", 5, 1.5, True}

In [6]:
mixed_set

{1.5, 5, 'Emma', True}

In [7]:
mixed_set1 = {"Emma", 5, 1.5 ,True, (1,2,3)}

mixed_set1

{(1, 2, 3), 1.5, 5, 'Emma', True}

In [8]:
set_list = {1, 2, 3, [4, 5, 6]}

TypeError: unhashable type: 'list'

In [9]:
set_dict = {1, 2, 3, {4: "Emma"}}

TypeError: unhashable type: 'dict'

In [10]:
set_tuple = {1, 2, 3, (4, 5, 6)}

set_tuple

{(4, 5, 6), 1, 2, 3}

In [11]:
student_set = {"Emma", "Olivia", "Ava", "Mia", "Emma", "Ava"} 

student_set

{'Ava', 'Emma', 'Mia', 'Olivia'}

In [12]:
set_int = {1, 3, 4, 5, 6, 2, 5, 3, 4}

set_int

{1, 2, 3, 4, 5, 6}

In [13]:
student_set

{'Ava', 'Emma', 'Mia', 'Olivia'}

In [14]:
student_set[1]

TypeError: 'set' object does not support indexing

In [15]:
set_1 = {1, 3, 4, 8, 'a', 6, 2, 10, 3, 4}

set_1

{1, 10, 2, 3, 4, 6, 8, 'a'}

In [16]:
set_1.add(9)

set_1

{1, 10, 2, 3, 4, 6, 8, 9, 'a'}

In [17]:
set_1.add(9.5)

set_1

{1, 10, 2, 3, 4, 6, 8, 9, 9.5, 'a'}

In [18]:
set_1.add(9)

set_1

{1, 10, 2, 3, 4, 6, 8, 9, 9.5, 'a'}

In [19]:
teachers_set = {"Emma", "Olivia", "Ava", "Mia", "Avery", "Jacob", "Daniel"}

teachers_set

{'Ava', 'Avery', 'Daniel', 'Emma', 'Jacob', 'Mia', 'Olivia'}

In [20]:
len(teachers_set)

7

In [21]:
max(teachers_set)

'Olivia'

In [22]:
min(teachers_set)

'Ava'

In [23]:
teachers_set.discard('Emma')

teachers_set

{'Ava', 'Avery', 'Daniel', 'Jacob', 'Mia', 'Olivia'}

In [24]:
teachers_set.remove('Mia')

teachers_set

{'Ava', 'Avery', 'Daniel', 'Jacob', 'Olivia'}

In [25]:
teachers_set.discard('Mia')

In [26]:
teachers_set.remove('Mia')

KeyError: 'Mia'

In [27]:
teachers_set.clear()

In [28]:
teachers_set

set()