In [1]:
number1 = {1, 2, 3, 4, 5}

number2 = {4, 5, 6, 7, 8}

number3 = {7, 8, 9, 10, 11}

In [2]:
number1.union(number2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
number_union = number1.union(number2, number3)

number_union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
student_set_1 = {"Ava", "Emma", "James"}

student_set_2 = {"James", "Mia", "Olivia"}

student_set_3 = {"Olivia", "Sarah", "Sofia"}

In [5]:
student_set_1.union(student_set_2, student_set_3)

{'Ava', 'Emma', 'James', 'Mia', 'Olivia', 'Sarah', 'Sofia'}

In [6]:
print(number1)

print(number2)

print(number3)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{7, 8, 9, 10, 11}

In [7]:
number2.intersection(number1)

{4, 5}

In [8]:
print(number1)

print(number2)

print(number3)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{7, 8, 9, 10, 11}

In [9]:
number1.difference(number2)

{1, 2, 3}

In [10]:
diff_set = student_set_1.difference(student_set_2)

diff_set

{'Ava', 'Emma'}

In [11]:
print(number1)

print(number2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [12]:
number1.intersection_update(number2)

number1

{4, 5}

In [13]:
number2

{4, 5, 6, 7, 8}

In [14]:
student_set_1, student_set_2, student_set_3

({'Ava', 'Emma', 'James'},
 {'James', 'Mia', 'Olivia'},
 {'Olivia', 'Sarah', 'Sofia'})

In [15]:
student_set_1.intersection_update(student_set_2)

student_set_1

{'James'}

In [16]:
student_set_2

{'James', 'Mia', 'Olivia'}

In [17]:
student_set_1 = {"Ava", "Emma", "James"}
student_set_2 = {"James", "Mia", "Olivia"}
student_set_3 = {"Olivia", "Sarah", "Sofia"}

In [18]:
student_set_1.difference_update(student_set_2)

student_set_1

{'Ava', 'Emma'}

In [19]:
{1, 2, 3}.isdisjoint({4, 5, 6})

True

In [20]:
{1, 2, 3}.isdisjoint({1, 5, 6})

False

In [21]:
number1.isdisjoint(number2)

False

In [22]:
{10, 20}.issubset({10, 20, 30})

True

In [23]:
{10, 20, 30}.issuperset({10, 20})

True

In [24]:
number1.issuperset(number2)

False