In [1]:
cars_list = ['Toyota Camry', 'Honda Accord',
             'Honda Civic', 'Toyota Corolla']

cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [2]:
cars_list[4] = 'Hyundai Elantra'

cars_list

IndexError: list assignment index out of range

In [3]:
cars_list.append('Hyundai Elantra')

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra']

In [4]:
cars_list.append('Nissan Sentra','Ford Fusion')

cars_list

TypeError: append() takes exactly one argument (2 given)

In [5]:
len(cars_list)

5

In [6]:
cars_list.insert(6, 'Nissan Sentra')

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Sentra']

In [7]:
len(cars_list)

6

In [8]:
cars_list.insert(5, 'Nissan Altima')

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra']

In [9]:
cars_list.extend(['Kia Optima', 'Kia Soul'])

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul']

In [10]:
cars_list2 = ['Hennessey Venom GT', 'Bugatti Veyron', 'Koenigsegg Agera R']

cars_list2

['Hennessey Venom GT', 'Bugatti Veyron', 'Koenigsegg Agera R']

In [11]:
complete_cars_list = cars_list + cars_list2

complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

In [12]:
cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul']

In [13]:
complete_cars_list.index('Honda Civic')

2

In [14]:
complete_cars_list.index('honda Civic')

ValueError: 'honda Civic' is not in list

In [15]:
complete_cars_list.index('Hyundai Elantra')

4

In [16]:
complete_cars_list.remove('Hyundai Elantra')

complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

In [17]:
complete_cars_list.index('Hyundai Elantra')

ValueError: 'Hyundai Elantra' is not in list

In [18]:
complete_cars_list += ['Chevrolet Cruze', 'Chevrolet Malibu']

complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R',
 'Chevrolet Cruze',
 'Chevrolet Malibu']

In [19]:
complete_cars_list.sort()

complete_cars_list

['Bugatti Veyron',
 'Chevrolet Cruze',
 'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 'Nissan Sentra',
 'Toyota Camry',
 'Toyota Corolla']

In [20]:
complete_cars_list.reverse()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Bugatti Veyron']

In [21]:
complete_cars_list.pop()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze']

In [22]:
complete_cars_list.pop()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu']

In [23]:
complete_cars_list.append('Nissan Altima')

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [24]:
complete_cars_list.count('honda Civic')

0

In [25]:
complete_cars_list.count('Honda Civic')

1

In [26]:
complete_cars_list.count('Nissan Altima')

2

In [27]:
set(complete_cars_list)

{'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 'Nissan Sentra',
 'Toyota Camry',
 'Toyota Corolla'}

In [28]:
print(cars_list)

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla', 'Hyundai Elantra', 'Nissan Altima', 'Nissan Sentra', 'Kia Optima', 'Kia Soul']

In [29]:
cars_list.clear()

In [30]:
cars_list

[]

In [31]:
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [32]:
new_cars_list = complete_cars_list.copy()

In [33]:
del complete_cars_list

In [34]:
complete_cars_list

NameError: name 'complete_cars_list' is not defined

In [35]:
new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [36]:
another_cars_list = new_cars_list

another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [37]:
another_cars_list.remove('Hennessey Venom GT')

In [38]:
another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [39]:
new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [40]:
new_cars_list.remove('Hennessey Venom GT')

ValueError: list.remove(x): x not in list

In [41]:
new_cars_list.remove('Nissan Sentra')

new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [42]:
another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']