In [1]:
my_tuple = ()

my_tuple

()

In [2]:
type(my_tuple)

tuple

In [3]:
print(type(my_tuple))

<class 'tuple'>

In [4]:
int_tuple = (1, 2, 3)

print(int_tuple)

(1, 2, 3)

In [5]:
str_tuple = ("Hello", "Python")

print(str_tuple)

('Hello', 'Python')

In [6]:
print(int_tuple , str_tuple)

(1, 2, 3) ('Hello', 'Python')

In [7]:
combined_tuple = int_tuple + str_tuple

print(combined_tuple)

(1, 2, 3, 'Hello', 'Python')

In [8]:
int_tuple += (10,)

print(int_tuple)

(1, 2, 3, 10)

In [9]:
print(str_tuple * 3)

('Hello', 'Python', 'Hello', 'Python', 'Hello', 'Python')

In [10]:
mixed_tuple = (1, "Hello", 3.4)

print(mixed_tuple)

(1, 'Hello', 3.4)

In [11]:
my_tuple = 1, "Hello", 3.4

print(my_tuple)

(1, 'Hello', 3.4)

In [12]:
a, b, c = my_tuple

print(a)
print(b)
print(c)

1
Hello
3.4

In [13]:
nested_tuple = (1, 2, 3, (4, 5, 6))

print(nested_tuple)

(1, 2, 3, (4, 5, 6))

In [14]:
mixed_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

print(mixed_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [15]:
my_tuple = ('p','e','r','m','i','t')

my_tuple

('p', 'e', 'r', 'm', 'i', 't')

In [16]:
print(my_tuple[0])

p

In [17]:
print(my_tuple[5])

t

In [18]:
print(my_tuple[6])

IndexError: tuple index out of range

In [19]:
mixed_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

mixed_tuple

('mouse', [8, 4, 6], (1, 2, 3))

In [20]:
print (mixed_tuple[0])

mouse

In [21]:
print (mixed_tuple[0][3])

s

In [22]:
print (mixed_tuple['s'])

TypeError: tuple indices must be integers or slices, not str

In [23]:
print (mixed_tuple[1])

[8, 4, 6]

In [24]:
print (mixed_tuple[1][0])

8

In [25]:
nested_tuple = mixed_tuple[2]

print (nested_tuple)

(1, 2, 3)

In [26]:
print (mixed_tuple[2][2])

3

In [27]:
my_tuple = ('E','l','e','p','h','a','n','t')

print(my_tuple[1:])

('l', 'e', 'p', 'h', 'a', 'n', 't')

In [28]:
print(my_tuple[2:4])

('e', 'p')

In [29]:
print(my_tuple[::2])

('E', 'e', 'h', 'n')

In [30]:
print(my_tuple[-1])

t

In [31]:
print(my_tuple[-3])

a

In [32]:
print(my_tuple[::-1])

('t', 'n', 'a', 'h', 'p', 'e', 'l', 'E')

In [33]:
my_tuple = ('H','e','l','l','o')

my_tuple

('H', 'e', 'l', 'l', 'o')

In [34]:
print(my_tuple.index('H'))

0

In [35]:
print(my_tuple.index('o'))

4

In [36]:
my_tuple = ('H','e','l','l','o')

my_tuple

('H', 'e', 'l', 'l', 'o')

In [37]:
print('e' in my_tuple)

True

In [38]:
print('t' in my_tuple)

False

In [39]:
print('e' not in my_tuple)

False

In [40]:
my_tuple = ('p','y','t','h','o','n')

len(my_tuple)

6

In [41]:
int_tuple = (1, 4, 9)

len(int_tuple)

3

In [42]:
mixed_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

len(mixed_tuple)

3

In [43]:
max(my_tuple)

'y'

In [44]:
max(int_tuple)

9

In [45]:
max(mixed_tuple)

TypeError: '>' not supported between instances of 'list' and 'str'

In [46]:
min(my_tuple)

'h'

In [47]:
min(int_tuple)

1

In [48]:
int_tuple = (1, 4, 9, 9)

sum(int_tuple)

23

In [49]:
int_tuple = (1, 4, 9, 9)

list(int_tuple)

[1, 4, 9, 9]

In [50]:
int_tuple = (1, 4, 9, 9)

set(int_tuple)

{1, 4, 9}