In [1]:
set_1 = {'c++', 'php', 'java', 'python'}

set_1

{'c++', 'java', 'php', 'python'}

In [2]:
set_2 = set_1

print("Original:", set_1)
print("Modified:", set_2)

Original: {'java', 'python', 'c++', 'php'}
Modified: {'java', 'python', 'c++', 'php'}

In [3]:
set_2.add('sql')

print("Original:", set_1)
print("Modified:", set_2)

Original: {'c++', 'php', 'java', 'python', 'sql'}
Modified: {'c++', 'php', 'java', 'python', 'sql'}

In [4]:
set_2.pop()

'c++'

In [5]:
print("Original:", set_1)
print("Modified:", set_2)

Original: {'php', 'java', 'python', 'sql'}
Modified: {'php', 'java', 'python', 'sql'}

In [6]:
set_2[2]

TypeError: 'set' object does not support indexing

In [7]:
set_2[2] = 'ruby'

TypeError: 'set' object does not support item assignment

In [8]:
set_1 = {'c++', 'php', ['java', 'python'], 'sql'}

set_1

TypeError: unhashable type: 'list'

In [9]:
set_1 = {'c++', 'php', ('java', 'python'), 'sql'}

set_1

{('java', 'python'), 'c++', 'php', 'sql'}

In [10]:
set_2 = set_1

print("Original:", set_1)
print("Modified:", set_2)

Original: {('java', 'python'), 'c++', 'sql', 'php'}
Modified: {('java', 'python'), 'c++', 'sql', 'php'}

In [11]:
import copy

In [12]:
teachers_set = {"Ava", "Mia", "Jacob", "Daniel"}

teachers_set

{'Ava', 'Daniel', 'Jacob', 'Mia'}

In [13]:
new_teachers_set = copy.copy(teachers_set)

print(teachers_set)
print(new_teachers_set)

{'Jacob', 'Daniel', 'Mia', 'Ava'}
{'Jacob', 'Daniel', 'Mia', 'Ava'}

In [14]:
teachers_set.add("Emma")

print(teachers_set)
print(new_teachers_set)

{'Ava', 'Emma', 'Daniel', 'Jacob', 'Mia'}
{'Jacob', 'Daniel', 'Mia', 'Ava'}

In [15]:
new_teachers_set.remove("Ava")

print(teachers_set)
print(new_teachers_set)

{'Ava', 'Emma', 'Daniel', 'Jacob', 'Mia'}
{'Jacob', 'Daniel', 'Mia'}

In [16]:
teachers_set = {"Ava", "Mia", "Jacob", "Daniel"}

teachers_set

{'Ava', 'Daniel', 'Jacob', 'Mia'}

In [17]:
new_teachers_set = copy.deepcopy(teachers_set)

print(teachers_set)
print(new_teachers_set)

{'Jacob', 'Daniel', 'Mia', 'Ava'}
{'Mia', 'Daniel', 'Jacob', 'Ava'}

In [18]:
teachers_set.add("Emma")

print(teachers_set)
print(new_teachers_set)

{'Ava', 'Emma', 'Daniel', 'Jacob', 'Mia'}
{'Mia', 'Daniel', 'Jacob', 'Ava'}

In [19]:
teachers_set.remove("Ava")

print(teachers_set)
print(new_teachers_set)

{'Emma', 'Daniel', 'Jacob', 'Mia'}
{'Mia', 'Daniel', 'Jacob', 'Ava'}