In [1]:
salary = 1000
expense = 200

name = "James"
interest_rate = 0.04

In [2]:
def print_savings_details():
    
    print("Name on account: ", name)
    
    savings  = salary - expense
    print("Savings: ", savings)
    
    print("Interest rate: ", interest_rate)

In [4]:
print_savings_details()

Name on account:  James
Savings:  800
Interest rate:  0.04

In [5]:
def print_savings_details(name, salary, expense, interest_rate):
    
    print("Name on account: ", name)
    
    savings  = salary - expense
    print("Savings: ", savings)
    
    print("Interest rate: ", interest_rate)

In [6]:
print_savings_details(name, salary, expense, interest_rate)

Name on account:  James
Savings:  800
Interest rate:  0.04

In [7]:
print_savings_details("Julie", 10000, 2000, 0.02)

Name on account:  Julie
Savings:  8000
Interest rate:  0.02

In [10]:
def print_savings_details(name, salary, expense, interest_rate):
    
    print("Name on account: ", name)

    expense = expense + 100
    
    savings  = salary - expense
    print("Savings: ", savings)
    
    print("Interest rate: ", interest_rate)

In [11]:
print_savings_details(name, salary, expense, interest_rate)

Name on account:  James
Savings:  700
Interest rate:  0.04

In [12]:
name, salary, expense, interest_rate

('James', 1000, 200, 0.04)

In [13]:
def print_savings_details(name, salary, expense, interest_rate):
    
    name = "Harry"
    print("Name on account: ", name)

    salary = salary * 2
    expense = expense + 100

    savings  = salary - expense
    print("Savings: ", savings)
    
    interest_rate = 0.09
    print("Interest rate: ", interest_rate)

In [14]:
print_savings_details(name, salary, expense, interest_rate)

Name on account:  Harry
Savings:  1700
Interest rate:  0.09

In [15]:
name, salary, expense, interest_rate

('James', 1000, 200, 0.04)

In [16]:
fruits_list = ["Apple", "Grapes", "Mango", "Bananas"]

In [18]:
def change_list(fruits_list):
    
    fruits_list = ["Kiwi", "Strawberry"]
    
    print("Inside the function: ", fruits_list)

change_list(fruits_list)
print()
print("Outside the function: ", fruits_list)

Inside the function:  ['Kiwi', 'Strawberry']

Outside the function:  ['Apple', 'Grapes', 'Mango', 'Bananas']

In [19]:
fruits_list = ["Apple", "Grapes"]

In [20]:
change_list(fruits_list)

Inside the function:  ['Kiwi', 'Strawberry']

In [21]:
fruits_list

['Apple', 'Grapes']

In [23]:
fruits_tuple = ("Apple", "Grapes", "Mango", "Bananas")

In [25]:
def change_tuple(fruits_tuple):
    
    fruits_tuple = ("Kiwi", "Strawberry")
    
    print("Inside the function: ", fruits_tuple)

change_tuple(fruits_tuple)
print()
print("Outside the function: ", fruits_tuple)

Inside the function:  ('Kiwi', 'Strawberry')

Outside the function:  ('Apple', 'Grapes', 'Mango', 'Bananas')

In [26]:
def change_tuple(fruits_tuple):
    
    fruits_tuple = "This is not even a tuple"
    
    print("Inside the function: ", fruits_tuple)

change_tuple(fruits_tuple)
print()
print("Outside the function: ", fruits_tuple)

Inside the function:  This is not even a tuple

Outside the function:  ('Apple', 'Grapes', 'Mango', 'Bananas')

In [30]:
car_speeds_dictionary = {
    "Camry": 120,
    "Accord": 130,
    "Cayenne": 250,
    "Mini Cooper": 100
}

In [29]:
def change_dictionary(car_speeds_dictionary):
    
    car_speeds_dictionary = {
        "Mustang": 200
    }
    
    print("Inside the function: ", car_speeds_dictionary)

In [31]:
change_dictionary(car_speeds_dictionary)

Inside the function:  {'Mustang': 200}

In [32]:
car_speeds_dictionary

{'Accord': 130, 'Camry': 120, 'Cayenne': 250, 'Mini Cooper': 100}