In [15]:
def print_student_details(name, school, 
                          math, physics, chemistry, biology, 
                          enrolled):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Score: ", total)

In [16]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99, 
                      enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Score:  339

In [17]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99)

TypeError: print_student_details() missing 1 required positional argument: 'enrolled'

In [18]:
def print_student_details(name, school, 
                          math, physics, chemistry, biology, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Score: ", total)

In [19]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99, 
                      enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Score:  339

In [20]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99, 
                      enrolled=False)

Name:  Alice
School:  Columbia Enrolled:  False
Score:  339

In [21]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99)

Name:  Alice
School:  Columbia Enrolled:  False
Score:  339

In [24]:
def print_student_details(name, school, 
                          math, physics, chemistry, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Biology: ", biology)
    print("Score: ", total)

In [25]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99)

Name:  Alice
School:  Columbia Enrolled:  False
Biology:  99
Score:  339

In [26]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64)

Name:  Alice
School:  Columbia Enrolled:  False
Biology:  50
Score:  290

In [27]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76)

TypeError: print_student_details() missing 1 required positional argument: 'chemistry'

In [28]:
def print_student_details(name, school, 
                          math, physics, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

In [29]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64)

Name:  Alice
School:  Columbia Enrolled:  False
Chemistry:  64
Biology:  50
Score:  290

In [30]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76)

Name:  Alice
School:  Columbia Enrolled:  False
Chemistry:  50
Biology:  50
Score:  276

In [33]:
def print_student_details(name, school, 
                          math=50, physics, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

SyntaxError: non-default argument follows default argument (<ipython-input-33-999df647fb27>, line 1)

In [34]:
def print_student_details(name, school="Harvard", 
                          math, physics, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

SyntaxError: non-default argument follows default argument (<ipython-input-34-2e7e83e9d21d>, line 1)

In [35]:
def print_student_details(name="Mark", school, 
                          math, physics, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

SyntaxError: non-default argument follows default argument (<ipython-input-35-23449577e505>, line 1)

In [43]:
def print_student_details(name="Mark", school="Harvard", 
                          math=50, physics=50, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Math: ", math)
    print("Physics: ", physics)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

In [44]:
print_student_details()

Name:  Mark
School:  Harvard Enrolled:  False
Math:  50
Physics:  50
Chemistry:  50
Biology:  50
Score:  200

In [45]:
print_student_details("Alice")

Name:  Alice
School:  Harvard Enrolled:  False
Math:  50
Physics:  50
Chemistry:  50
Biology:  50
Score:  200

In [46]:
print_student_details("Alice", "Columbia")

Name:  Alice
School:  Columbia Enrolled:  False
Math:  50
Physics:  50
Chemistry:  50
Biology:  50
Score:  200

In [47]:
print_student_details("Alice", "Columbia", 99)

Name:  Alice
School:  Columbia Enrolled:  False
Math:  99
Physics:  50
Chemistry:  50
Biology:  50
Score:  249

In [48]:
print_student_details("Alice", "Columbia", 99, enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Math:  99
Physics:  50
Chemistry:  50
Biology:  50
Score:  249

In [49]:
print_student_details("Alice", "Columbia", 99, enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Math:  99
Physics:  50
Chemistry:  50
Biology:  50
Score:  249

In [50]:
print_student_details("Alice", "Columbia", 99, biology=66, enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Math:  99
Physics:  50
Chemistry:  50
Biology:  66
Score:  265