In [3]:
print()

In [4]:
print("Bob")

Bob

In [5]:
print("Bob", "Peter")

Bob Peter

In [6]:
print("Greg", "Claudia", "Bob")

Greg Claudia Bob

In [7]:
print("Greg", "Claudia", "Bob", "Peter")

Greg Claudia Bob Peter

In [8]:
def print_fn(string_1):
    
    print(string_1)

In [9]:
print_fn()

TypeError: print_fn() missing 1 required positional argument: 'string_1'

In [10]:
def print_fn(string_1="\n"):
    
    print(string_1)

In [11]:
print_fn()

In [12]:
print_fn("Bob")

Bob

In [13]:
print_fn("Bob", "Peter")

TypeError: print_fn() takes from 0 to 1 positional arguments but 2 were given

In [17]:
def print_fn(string_1="\n", string_2=""):
    
    print(string_1, string_2)

In [18]:
print_fn()

In [19]:
print_fn("Bob")

Bob

In [20]:
print_fn("Bob", "Peter")

Bob Peter

In [22]:
print_fn("Greg", "Claudia", "Bob")

TypeError: print_fn() takes from 0 to 2 positional arguments but 3 were given

In [28]:
def print_fn(*args):
    
    args_type = type(args)
    print(args_type)
    
    print(args)

In [29]:
print_fn()

<class 'tuple'>
()

In [31]:
print_fn("Bob")

<class 'tuple'>
('Bob',)

In [32]:
print_fn("Bob", "Peter")

<class 'tuple'>
('Bob', 'Peter')

In [33]:
print_fn("Greg", "Claudia", "Bob")

<class 'tuple'>
('Greg', 'Claudia', 'Bob')

In [34]:
print_fn("Greg", "Claudia", "Bob", "Alice", "Steve", "Jim")

<class 'tuple'>
('Greg', 'Claudia', 'Bob', 'Alice', 'Steve', 'Jim')

In [70]:
names_list = ["Greg", "Claudia", "Bob", "Alice", "Steve", "Jim"]


print_fn(names_list)

<class 'tuple'>
(['Greg', 'Claudia', 'Bob', 'Alice', 'Steve', 'Jim'],)

In [71]:
print_fn(*names_list)

<class 'tuple'>
('Greg', 'Claudia', 'Bob', 'Alice', 'Steve', 'Jim')

In [38]:
def students_in_college(college, city, *students):
    
    print("College: ", college)
    print("City: ", city)
    print("Students: ", students)

In [39]:
students_in_college()

TypeError: students_in_college() missing 2 required positional arguments: 'college' and 'city'

In [41]:
students_in_college("Columbia")

TypeError: students_in_college() missing 1 required positional argument: 'city'

In [42]:
students_in_college("Columbia", "New York")

College:  Columbia
City:  New York
Students:  ()

In [43]:
students_in_college("Columbia", "New York", "Bob")

College:  Columbia
City:  New York
Students:  ('Bob',)

In [44]:
students_in_college("Columbia", "New York", "Peter", "Julie")

College:  Columbia
City:  New York
Students:  ('Peter', 'Julie')

In [48]:
students_in_college("Columbia", "New York", "Peter", "Julie", "Trista")

College:  Columbia
City:  New York
Students:  ('Peter', 'Julie', 'Trista')

In [49]:
students_in_college(city="New York", college="Columbia", "Peter", "Julie")

SyntaxError: positional argument follows keyword argument (<ipython-input-49-e282e02317eb>, line 1)

In [50]:
def students_in_college(*students, college, city):
    
    print("College: ", college)
    print("City: ", city)
    print("Students: ", students)

In [51]:
students_in_college("Columbia", "New York", "Bob")

TypeError: students_in_college() missing 2 required keyword-only arguments: 'college' and 'city'

In [52]:
students_in_college("Bob", college="Columbia", city="New York")

College:  Columbia
City:  New York
Students:  ('Bob',)

In [53]:
students_in_college("Bob", "Peter", college="Columbia", city="New York")

College:  Columbia
City:  New York
Students:  ('Bob', 'Peter')

In [54]:
def students_in_college(*students, college, city="Boston"):
    
    print("College: ", college)
    print("City: ", city)
    print("Students: ", students)

In [55]:
students_in_college("Bob")

TypeError: students_in_college() missing 1 required keyword-only argument: 'college'

In [56]:
students_in_college("Bob", "Harvard")

TypeError: students_in_college() missing 1 required keyword-only argument: 'college'

In [57]:
students_in_college("Bob", college="Harvard")

College:  Harvard
City:  Boston
Students:  ('Bob',)

In [58]:
students_in_college("Bob", college="Columbia", city="New York")

College:  Columbia
City:  New York
Students:  ('Bob',)

In [62]:
def student_details(**kwargs):
    
    print(type(kwargs))
    print(kwargs)

In [63]:
student_details()

<class 'dict'>
{}

In [64]:
student_details(name="John")

<class 'dict'>
{'name': 'John'}

In [65]:
student_details(name="John", age=18)

<class 'dict'>
{'name': 'John', 'age': 18}

In [66]:
student_details(name="John", age=18, college="Boston University")

<class 'dict'>
{'name': 'John', 'age': 18, 'college': 'Boston University'}

In [67]:
def student_details(**details):
    
    for key, value in details.items():
        print(key, value)

In [68]:
student_details(name="John", age=18, college="Boston University")

name John
age 18
college Boston University

In [72]:
details_dictionary = {'name': 'John', 'age': 18, 'college': 'Boston University'}

In [73]:
student_details(details_dictionary)

TypeError: student_details() takes 0 positional arguments but 1 was given

In [74]:
student_details(**details_dictionary)

name John
age 18
college Boston University

In [81]:
def student_details(**details):
    
    if 'name' in details:
        print("Name: ", details['name'])
    
    if 'age' in details:
        print("Age: ", details['age'])
        
    if 'college' in details:
        print("College: ", details['college'])

In [82]:
student_details(name="John")

Name:  John

In [83]:
student_details(name="John", college="Boston University")

Name:  John
College:  Boston University

In [84]:
student_details(name="John", college="Boston University", age=21)

Name:  John
Age:  21
College:  Boston University

In [97]:
def students_in_college(*student_names, **college_details):
    print("Students--")
    for s in student_names:
        print(s)
    
    print()
    
    print("College Details--")
    for key, value in college_details.items():
        print(key, value)

In [98]:
students_in_college("Alison", "Bob", "Charlie", name="Stanford", city="Palo Alto")

Students--
Alison
Bob
Charlie

College Details--
name Stanford
city Palo Alto