In [1]:
if 10 < 15:
    
    print("10 is less than 15")

10 is less than 15

In [2]:
if 46 > 40 + 5:
    
    print("46 is greater than 45")

46 is greater than 45

In [3]:
if 46 > 40:
    
print("46 is greater than 40")

IndentationError: expected an indented block (<ipython-input-3-3d53fbde06da>, line 3)

In [4]:
x_value = 65

y_value = 25

In [5]:
if x_value < y_value:
    
    print('Value of x is less than the value of y')

In [6]:
if x_value > y_value:
    
    print('Value of x is greater than the value of y')

Value of x is greater than the value of y

In [7]:
my_string = "Hello python world"

In [8]:
if "python" in my_string:
    
    print('Yes, "python" is in my_string')

Yes, "python" is in my_string

In [9]:
if "pythonworld" in my_string:
    
    print('Yes, "python world" is in my_string')

In [10]:
if "python world" in my_string:
    
    print('Yes, "python world" is in my_string')

Yes, "python world" is in my_string

In [11]:
if "Python World" in my_string:
    
    print('Yes, "python world" is in my_string')

In [12]:
list_student = ["Ayden", "Gavin", "Ian", "Jose", "Jane"]

list_student

['Ayden', 'Gavin', 'Ian', 'Jose', 'Jane']

In [13]:
if "Jose" in list_student:
    
    print("Jose is a student")

Jose is a student

In [14]:
if "Eva" in list_student:
    
    print("Eva is a student")

In [15]:
tuple_teachers = ("Alice", "Alexa", "Robert", "Bella")

tuple_teachers

('Alice', 'Alexa', 'Robert', 'Bella')

In [16]:
if "Alexa" in tuple_teachers:
    
    print("Alexa is a teacher")

Alexa is a teacher

In [17]:
student_score = {"Ayden":60, "Gavin":85, "Ian":76, "Jose":70, "Jane":82}
student_score

{'Ayden': 60, 'Gavin': 85, 'Ian': 76, 'Jose': 70, 'Jane': 82}

In [18]:
if "Ian" in student_score:
    
    print("Ian is in the student_score dictionary")

Ian is in the student_score dictionary

In [19]:
if "Jane" in student_score:
    
    print("Jane's score:", student_score["Jane"])

Jane's score: 82

In [20]:
if "Ayden" in student_score:
    
    print("Ayden's score:", student_score["Ayden"])

Ayden's score: 60

In [21]:
a = 60
b = 35

In [22]:
if a > b and b < a:
    print("a is greater than b")

a is greater than b

In [23]:
if a > b and b > a:
    print("a is greater than b")

In [24]:
print(x_value)
print(y_value)

65
25

In [25]:
z_value = x_value + y_value
z_value

90

In [26]:
if x_value > y_value and y_value < z_value:
    
    print("Both conditions are True")

Both conditions are True

In [27]:
a,b

(60, 35)

In [28]:
if a > b or b < a:
    print("At least one of the above conditions is true")

At least one of the above conditions is true

In [29]:
bike_price = 716

In [30]:
bike_is_electric = False

In [31]:
if bike_price > 500 or bike_is_electric:
    print("At least one of the above conditions is true")

At least one of the above conditions is true

In [32]:
if bike_price > 1000 or bike_is_electric:
    print("At least one of the above conditions is true")

In [33]:
if not bike_is_electric:
    print("It's a human-powered bike")

It's a human-powered bike

In [34]:
x = 45
y = 78

In [35]:
if not (x < y):
    print("x is not less than y")

In [36]:
if not (x > y):
    print("x is not greater than y")

x is not greater than y