In [1]:
salary = int(input("Enter salary amount: "))
expenses = int(input("Enter expenses: "))

savings = salary - expenses

print("My total savings in a month is: ", savings)

Enter salary amount: 700
Enter expenses: 230
My total savings in a month is:  470

In [1]:
first_num = int(input("Enter first variable: "))      
second_num = int(input("Enter second variable: "))    

first_num = first_num + second_num       
second_num = first_num - second_num       
first_num = first_num - second_num       

print ("\nFirst_num is:", first_num , "\nSecond_num is:", second_num)

Enter first variable: 20
Enter second variable: 25

First_num is: 25
Second_num is: 20

In [3]:
num = int(input("Enter a number: "))

temp1 = str(num)                       
temp2 = temp1 + temp1                  
temp3 = temp1 + temp1 + temp1           

total = num + (int(temp2) + int(temp3)) 

print(temp1, '+', temp2, '+', temp3, '=', total)

Enter a number: 12
12 + 1212 + 121212 = 122436

In [1]:
num_1 = int(input("Enter first number: "))
num_2 = int(input("Enter second number: "))

Quotient = int(num_1 / num_2)
print("\nQuotient:", Quotient)
        
Remainder = num_1 % num_2
print("Remainder:", Remainder)

Enter first number: 13
Enter second number: 4

Quotient: 3
Remainder: 1

In [2]:
principle = float(input("Enter the principle amount: "))
time = int(input("Enter the time(years): "))
rate = float(input("Enter the rate: "))

simple_int = (principle * time * rate) / 100

print("The simple interest is:",simple_int)

Enter the principle amount: 800
Enter the time(years): 6
Enter the rate: 3
The simple interest is: 144.0

In [6]:
cm = int(input("Give the height in centimeters: "))
inches = 0.394 * cm
feet = 0.0324 * cm

print ("The length in inches: ", round(inches, 2))
print ("The length in feet: ", round(feet, 2))

Give the height in centimeters: 168
The length in inches:  66.19
The length is feet:  5.44

In [7]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

print("List of cars before the swap: ", cars_list)

cars_list_temp = cars_list[0]

cars_list[0] = cars_list[2]

cars_list[2] = cars_list_temp

print("List of cars after the swap: ", cars_list)

List of cars before the swap:  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
List of cars after the swap:  ['Honda Civic', 'Honda Accord', 'Toyota Camry', 'Toyota Corolla']

In [8]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

print("list of cars before the swap: ", cars_list)

car1 = 1
car2 = 2

cars_list[car1], cars_list[car2] = cars_list[car2], cars_list[car1]

print("list of cars after  the swap: ", cars_list)

list of cars before the swap:  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
list of cars after  the swap:  ['Toyota Camry', 'Honda Civic', 'Honda Accord', 'Toyota Corolla']

In [4]:
list_student = ["Sofia", "Ella", "Samuel", "Ella", "Aiden", "Sofia"]

print("Student list: ", list_student)

print("Number of Students: ", len(list_student))

student_set = set(list_student)

print("\nNew student list: ", list(student_set))

print("Length of modified students list: ", len(student_set))

print("There are %s duplicate elements"%(len(list_student) - len(student_set)))

Student list:  ['Sofia', 'Ella', 'Samuel', 'Ella', 'Aiden', 'Sofia']
Number of Students:  6

New student list:  ['Ella', 'Samuel', 'Aiden', 'Sofia']
Length of modified students list:  4
There are 2 duplicate elements

In [5]:
list_str = ["Sofia","Ella","Samuel","Ella","Aiden","Sofia"]

len_list_str = len(list_str)

len_set_str = len(set(list_str))

if len_list_str == len_set_str:
    
    print("There are no duplicate elements")
    
else:
    
    print("There are {} duplicate elements".format(len_list_str - len_set_str))

There are 2 duplicate elements

In [11]:
num_value = 50
print("The number stored in num_value is :", num_value)

if not num_value % 2 == 0:
    print("The number is an odd number")
else:
    print("The number is an even number")

The number stored in num_value is : 50
The number is an even number

In [12]:
values = input("Enter some comma separated numbers : ")

list_value = values.split(",")
tuple_value = tuple(list_value)

print("List : ", list_value)
print("Tuple : ", tuple_value)

Enter some comma separated numbers : 12,23,45,56
List :  ['12', '23', '45', '56']
Tuple :  ('12', '23', '45', '56')

In [13]:
list_words = input("Enter some comma separated words : ")

words = list_words.split(",")

new_list_words = sorted(words)

print (new_list_words)

Enter some comma separated words : Kiwi,Apple,Banana
['Apple', 'Banana', 'Kiwi']

what lies behind us and what lies before us are tiny matters compared to what lies within us

In [2]:
sentence = input("Enter some whitespace-separated words : ")

words = sentence.split(" ")

set_of_words = set(words)

sorted_set_of_words = sorted(set_of_words)

print(" ".join(sorted_set_of_words))

Enter some whitespace-separated words : what lies behind us and what lies before us are tiny matters compared to what lies within us
and are before behind compared lies matters tiny to us what within

In [15]:
num_dict = dict()

num_dict[1] = 1
num_dict[2] = 2 ** 2
num_dict[3] = 3 ** 2

print (num_dict)

{1: 1, 2: 4, 3: 9}

In [3]:
string_1 = input("Enter first string: ")

string_2 = input("Enter second string: ")

set_1 = set(string_1)
set_2 = set(string_2)

common_char = set_1.intersection(set_2)

print("\nCommon letters: ", list(common_char))

Enter first string: hello
Enter second string: python

Common letters:  ['h', 'o']

In [7]:
list_num = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

len_of_list = len(list_num)

print("Numbers before slicing: %s" %list_num)
print("Length of numbers before slicing: ", len_of_list)

half = int(len_of_list / 2)

list_num1 = list_num[:half]
list_num2 = list_num[half:]

print("\nFirst half: %s" %list_num1)
print("Second half: %s" %list_num2)

Numbers before slicing: [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
Length of numbers before slicing:  12

First half: [10, 11, 12, 13, 14, 15]
Second half: [16, 17, 18, 19, 20, 21]

In [19]:
num = float(input("Enter a number: "))

if num >= 0:
    
    if num == 0:
        print("Zero")
        
    else:
        print("Positive number")
        
else:
    
    print("Negative number")

Enter a number: -12
Negative number

run this cell twice first with var = 3

the var = 1+2j

In [12]:
var = 3

if (type(var) == int):
    print("Type of the variable is Integer")
    
elif (type(var) == float):
    print("Type of the variable is Float")
    
elif (type(var) == complex):
    print("Type of the variable is Complex")

else:
    print("Type of the variable is Unknown")

Type of the variable is Integer

In [22]:
num = int(input("Enter a number: "))

if (num % 2) == 0:
    
    print("%d is Even" % num)
    
else:
    
    print("%d is Odd" % num)

Enter a number: 59
59 is Odd

In [24]:
num1 = float(input("Enter the first number: "))

operator = input("Operator: ")

num2 = float(input("Enter the second number: "))

if operator == "+":
    print("Addition: ", num1 + num2)

elif operator == "-":
    print("Subtraction: ", num1 - num2)

elif operator == "*":
    print("Multiplication: ", num1 * num2)

elif operator == "/":
    print("Division: ", num1 / num2)
    
else:
    print("This is not a valid operator")

Enter the first number: 12
Operator: /
Enter the second number: 4
Division:  3.0

In [26]:
num_1 = int(input("Enter a number: "))

if num_1 % 5 == 0 and num_1 % 7 == 0:
    print("This number is divisible by both 5 and 7")
    
elif num_1 % 5 == 0:
    print("This number is divisible by 5")
    
elif num_1 % 7 == 0:
    print("This number is divisible by 7")
    
else:
    print("This number is neither divisible by 5 nor 7")

Enter a number: 35
This number is divisible by both 5 and 7

In [28]:
bike_price = int(input('Enter a number: '))

if bike_price < 4000:
    
    print("It's a cheap bike")
    
elif bike_price >= 4000 and bike_price < 7000:
    print("It's a moderately priced bike")
    
elif bike_price >= 7000 and bike_price < 12000:
    print("It's an expensive bike")
    
else:
    print("This bike is very expensive")

Enter a number: 13000
This bike is very expensive

In [29]:
human_age = int(input("Enter dog's age in human years: "))

if human_age < 0:
    print("Age must be a positive number.")
    exit()
    
if human_age <= 2:
    dog_age = human_age * 10.5
    
else:
    dog_age = 21 + (human_age - 2)*4

print("The dog's age in dog years is", dog_age)

Enter dog's age in human years: 3
The dog's age in dog years is 25

In [32]:
letter = input("Enter a letter of the alphabet: ")
letter = letter.lower()

if letter in ('a', 'e', 'i', 'o', 'u'):
    
    print("%s is a vowel." % letter)
    
elif letter == 'y':
    print("Y is ambiguous. It depends where it is used")
    
else:
    print("%s is a consonant." % letter)

Enter a letter of the alphabet: y
Y is ambiguous. It depends where it is used

In [34]:
month_name = input("Enter the name of the Month: ")

if month_name == "February":
    print("No. of days: 28/29 days")
    
elif month_name in ("April", "June", "September", "November"):
    print("No. of days: 30 days")
    
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
    print("No. of days: 31 days")
    
else:
    print("Give a correct month name")

Enter the name of the Month: April
No. of days: 30 days

In [35]:
num_1 = float(input("Enter first number: "))
num_2 = float(input("Enter second number: "))
num_3 = float(input("Enter third number: "))

if num_1 > num_2:
    
    if num_1 < num_3:
        median = num_1
        
    elif num_2 > num_3:
        median = num_2
        
    else:
        median = num_3
        
else:
    if num_1 > num_3:
        median = num_1
        
    elif num_2 < num_3:
        median = num_2
        
    else:
        median = num_3

print("\nThe median is", median)

Enter first number: 34
Enter second number: 23
Enter third number: 45

The median is 34.0

In [38]:
a = int(input("a: "))
b = int(input("b: "))
c = int(input("c: "))

if a == b == c:
    print("Equilateral triangle")
    
elif a == b or b == c or c == a:
    print("Isosceles triangle")
    
else:
    print("\nScalene triangle")

a: 12
b: 12
c: 12
Equilateral triangle

In [40]:
str_value = input("Enter the string: ")

reversed_str = str_value[::-1]

if(str_value == reversed_str):
      print("The string is a palindrome")
        
else:
      print("The string is not a palindrome")

Enter the string: madam
The string is a palindrome

In [42]:
ans = int(input("How many days are there in a leap year? "))
print("You entered:", ans)
    
if ans == 366 :
    print("You have cleared the first level.")
    
    ans = input("\nWhich month has an extra day in a leap year?").lower()
    if ans == "february" :
        
        print("You have cleared the test.")
        
    else :
        
        print("You have failed the test.")
        
else :
    print("Your answer is wrong, please try again.")

How many days are there in a leap year? 366
You entered: 366
You have cleared the first level.

Which month has an extra day in a leap year?february
You have cleared the test.

In [43]:
score = int(input("Enter a score: "))

if score >= 90:
    print("A grade")

elif score >=80:
    print("B grade")

elif score >=70:
    print("C grade")

elif score >= 50:
    print("D grade")

else:
    print("Fail")

Enter a score: 75
C grade

In [1]:
salary = int(input("Enter annual salary: "))

years_service = int(input("Enter years of service: "))

if years_service >= 10: 
    print ("Bonus is: ", .15 * salary)

elif years_service >= 5 and years_service < 10:
    print ("Bonus is: ", .05 * salary)
    
else:
    print ("No bonus")

Enter annual salary: 40000
Enter years of service: 8
Bonus is:  2000.0