In [1]:
type(66)

int

In [2]:
float(66)

66.0

In [3]:
a = 66

type(a)

int

In [4]:
my_float = float(a)

my_float

66.0

In [5]:
type(my_float)

float

In [6]:
type(390.8)

float

In [7]:
int(390.8)

390

In [8]:
b = 66.6

my_int = int(b)

my_int

66

In [9]:
type(b)

float

In [10]:
type(my_int)

int

In [11]:
num_int = 76
num_float = 23.4

print("datatype of num_int:", type(num_int))
print("datatype of num_float:", type(num_float))

datatype of num_int: <class 'int'>
datatype of num_float: <class 'float'>

In [12]:
new_num = num_int + num_float

print(new_num)
print("datatype of new_num is", type(new_num))

99.4
datatype of new_num is <class 'float'>

In [13]:
my_float = 66.999999

In [14]:
my_num = int(my_float)

my_num

66

In [15]:
a = 125.0
b = 390.8

print(int (a))
print(int (b))

125
390

In [16]:
int('12')

12

In [17]:
a = "66"

type(a)

str

In [18]:
my_int = int(a)

my_int

66

In [19]:
type (my_int)

int

In [20]:
num_int = 123
num_str = "456"

print(num_int + num_str)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
print("Data type of num_int:", type(num_int))
print("Data type of num_str:", type(num_str))

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

In [22]:
num_str = int(num_str)

print("Data type of num_str:", type(num_str))

Data type of num_str: <class 'int'>

In [23]:
sum_value = num_int + num_str

print(sum_value)
print("Data type of sum_value:",type(sum_value))

579
Data type of sum_value: <class 'int'>

In [24]:
value_str = "five"

value_int = int(value_str)

ValueError: invalid literal for int() with base 10: 'five'

In [25]:
str(12)

'12'

In [26]:
my_str = str(num_int)
my_str

'123'

In [27]:
my_float = 5524.53

print("John has " + str(my_float) + " points.")

John has 5524.53 points.

In [28]:
user = "John"
lines = 50

print("Congratulations, " + user + "! You just wrote " + lines + " lines of code.")

TypeError: can only concatenate str (not "int") to str

In [29]:
user = "John"
lines = 50

print("Congratulations, " + user + "! You just wrote " + str (lines) + " lines of code.")

Congratulations, John! You just wrote 50 lines of code.

In [30]:
number = input()

plus_ten = number + 10

6

TypeError: can only concatenate str (not "int") to str

In [31]:
type(number)

str

In [32]:
number = int(input())

plus_ten = number + 10

print ("If we add 10 to this number, we get " + plus_ten)

7

TypeError: can only concatenate str (not "int") to str

In [33]:
number = int(input())

plus_ten = number + 10

print ("If we add 10 to this number, we get " + str(plus_ten))

6
If we add 10 to this number, we get 16

In [34]:
number = int(input())
plus_ten = number + 10
plus_twenty = number + 20

print ("\nIf we add 10 and 20 to this number, we get %s and %s " %(plus_ten, plus_twenty))

67

If we add 10 and 20 to this number, we get 77 and 87