### IntroducingForLoops

##### Syntax of the For Loop

* for variable in sequence:<br>
	statements
    
    
 A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [2]:
for letter in ['H', 'e', 'l', 'l', 'o']:
    print(letter)

H
e
l
l
o

strings are iterable objects, they contain a sequence of characters

In [3]:
for letter in "Hello":
    print(letter)

H
e
l
l
o

In [5]:
my_string = "Hello World"

for char in my_string:
    print (char)

H
e
l
l
o

W
o
r
l
d

In [6]:
for digit in "10":
    print (digit)

1
0

Integer is not a iterable

In [7]:
for digit in 10:
    print (digit)

TypeError: 'int' object is not iterable

Print each country

In [11]:
for country in "Germany", "India", "Israel":
    print(country)

Germany
India
Israel

Iterating over Tuple

In [12]:
dogs = ("Pug", "Doberman", "Golden Retriever")

In [13]:
for dog in dogs:
    print("It's a", dog)

It's a Pug
It's a Doberman
It's a Golden Retriever

built-in function `enumerate()`adds a counter to an iterable and returns it in a form of enumerate object

A lot of times when dealing with iterators, we also get a need to keep a count of iterations. Python eases the programmersâ€™ task by providing a built-in function enumerate() for this task.
Enumerate() method adds a counter to an iterable and returns it in a form of enumerate object.

In [14]:
dog_weight = (("Pug", 20),
              ("Doberman", 80),
              ("Golden Retriever", 55))


for i, (dog, weight) in enumerate(dog_weight):
    print("The dog at index %d is a %s and it weighs %s pounds" % (i, dog, weight))

The dog at index 0 is a Pug and it weighs 20 pounds
The dog at index 1 is a Doberman and it weighs 80 pounds
The dog at index 2 is a Golden Retriever and it weighs 55 pounds

Iterating over List

In [16]:
friends = ["John", "Sam", "Jill"]

for friend in friends:
    print("Happy New Year,", friend)

Happy New Year, John
Happy New Year, Sam
Happy New Year, Jill

The purpose of zip() is to map the similar index of multiple containers so that they can be used just using as single entity.

In [19]:
student_scores = {'John': 80, 
                  'Sam': 60, 
                  'Jill': 50, 
                  'Bob': 96}  

student_scores

{'Bob': 96, 'Jill': 50, 'John': 80, 'Sam': 60}

Iterating over dictionary

Iterating over keys

In [20]:
for student in student_scores:
    print(student)

John
Sam
Jill
Bob

Using `.keys` function we can get all keys in dictionary

In [21]:
student_scores.keys()

dict_keys(['John', 'Sam', 'Jill', 'Bob'])

In [22]:
for student in student_scores.keys():
    print(student)

John
Sam
Jill
Bob

Using `.value` function we can get all values in dictionary

In [24]:
for score in student_scores.values():
    print(score)

80
60
50
96

Using `[]` we can get all keys and values in a dictionary<br>
Print each key value pair in dictionary

In [25]:
for key in student_scores:
    print("Key value pair -", key, ":", student_scores[key])

Key value pair - John : 80
Key value pair - Sam : 60
Key value pair - Jill : 50
Key value pair - Bob : 96

Using `.items` function we can get keys and value list of tuple

In [26]:
for key_value in student_scores.items():
    print (key_value)

('John', 80)
('Sam', 60)
('Jill', 50)
('Bob', 96)

Giving two variables (first variable will hold fist field in the Dictionary
and second variable will hold second field in the Dictionary)

In [27]:
for student, score in student_scores.items():
    print ("Student:", student, "\tScore:", score)

Student: John 	Score: 80
Student: Sam 	Score: 60
Student: Jill 	Score: 50
Student: Bob 	Score: 96

Let's see another example for iterating over dictionary.

program to perform a division using for loops:

In [23]:
numbers = [4, 6, 9, 10]

for num in numbers:
    quotient = num // 2
    
    print(quotient, "is the quotient of", num, "/ 2" )

2 is the quotient of 4 / 2
3 is the quotient of 6 / 2
4 is the quotient of 9 / 2
5 is the quotient of 10 / 2

program that prints each item and its corresponding type from the following list.

In [24]:
mixed_list = [145, 10.5, 1+3j,
              True, "Python",
              (0, 1),[2, -5],
              {"Class":"V", "Section":"A"}]

for item in mixed_list:
    print ("Type of ", item, " is ", type(item))

Type of  145  is  <class 'int'>
Type of  10.5  is  <class 'float'>
Type of  (1+3j)  is  <class 'complex'>
Type of  True  is  <class 'bool'>
Type of  Python  is  <class 'str'>
Type of  (0, 1)  is  <class 'tuple'>
Type of  [2, -5]  is  <class 'list'>
Type of  {'Class': 'V', 'Section': 'A'}  is  <class 'dict'>

Print squares of all numbers present in a list

In [25]:
num_list = [2, 4, 6, 8]         

square = 0 

for val in num_list:         
    square = val ** 2  
    
    print ("Square of", val, "is", square)

Square of 2 is 4
Square of 4 is 16
Square of 6 is 36
Square of 8 is 64

program to find lenght of a function with out using len function.

In [35]:
string = input("Enter a string: ")

count = 0

for i in string:
    count = count + 1
    
print(count)

Enter a string: python
6

#### For Loop with else

In [4]:
numbers = [2, 3, 5, 7]

for num in numbers:
    print(num)
    
else:    
    print("No more items left in the list.")

2
3
5
7
No more items left in the list.

In [5]:
characters = {"a", "b", "c", "d"}

for letter in characters:
    print(letter)
    
else:
    print("No more characters left ")

d
c
a
b
No more characters left

Print the Bristol city is available or not in us_cities list

Using append attribute to add cities near new york to the list us_cities.

In [29]:
us_cities = ["New York", "Nashville", "Seattle"]

for city in us_cities:
    
    if city == "New York":
        
        print("New York is present in the list")

New York is present in the list

Add an even number in the list to show that the nested if statement works

In [30]:
numbers = [11, 33, 55, 39, 2, 55, 75, 37, 22, 23, 41, 13]

for num in numbers:
    
    if num % 2 == 0:
        
        print("The list contains an even number:", num)

The list contains an even number: 2
The list contains an even number: 22

Finding out which year is leap year and which year is not leap in list

In [31]:
years = [2016, 2017, 2018, 2019, 2020]

for year in years:
    
    if year % 4 == 0:
        
        print(year, "is a leap year")
        
    else:
        print(year, "is not a leap year")

2016 is a leap year
2017 is not a leap year
2018 is not a leap year
2019 is not a leap year
2020 is a leap year

#### Nested loops

Loop over Lists of lists

Nested for loops can be useful for iterating through items within lists composed of lists.

In [32]:
names = [["Mary", "Linda", "Jessica"],
         ["James", "Jacob", "William"]]

for sublist in names:
    print(sublist)

['Mary', 'Linda', 'Jessica']
['James', 'Jacob', 'William']

In [33]:
for sublist in names:
    for name in sublist:
        print(name)

Mary
Linda
Jessica
James
Jacob
William

In [34]:
colors_list = ["Red", "Green", "Blue"]
objects_list = ["Pen", "Marker", "Pencil"]

for color in colors_list:
    for obj in objects_list:
        
        print (color, obj)

Red Pen
Red Marker
Red Pencil
Green Pen
Green Marker
Green Pencil
Blue Pen
Blue Marker
Blue Pencil