### TheRangeFunctionInForLoop

To loop through a set of code a specified number of times, we can use the range() function

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

The `range(n)` function can be considered a shorthand for `0,1,2,....n-1`.<br>

In [1]:
my_range = range(5)

my_range

range(0, 5)

In [2]:
tuple(my_range)

(0, 1, 2, 3, 4)

In [3]:
list(my_range)

[0, 1, 2, 3, 4]

The Range start with 5, and stop with 10

In [4]:
list(range(5, 10))

[5, 6, 7, 8, 9]

Here we can use negative values also

In [5]:
list(range(-5, 5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

Here calling `range()` with float will not work

In [6]:
for i in range (3.3):
    print (i)

TypeError: 'float' object cannot be interpreted as an integer

Here calling `range()` with string will not work

In [1]:
for i in range ("C","Y"):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

The `range()` function returns a sequence of numbers.  Starting from `0` by default and ends at a specified number.

In [8]:
for i in range(6):
    print(i)

0
1
2
3
4
5

program to print "hello" 5 times

In [9]:
for i in range (3):
    print ("Hello")

Hello
Hello
Hello

Here we are replacing value of the `i` variable with `_`

In [10]:
for _ in range(3):
    print("Hello")

Hello
Hello
Hello

In [11]:
for i in range (2 ** 2):
    print ("python")

python
python
python
python

Here we are giving starting value by adding a parameter: `range(5,10)`<br>
Example of exclusive `range()`

In [12]:
for num in range (5, 10):
    print("number:", num)

number: 5
number: 6
number: 7
number: 8
number: 9

Print the number to the power two with given range

In [13]:
for i in range(5, 8):
    print(i, "square is", i ** 2)
    
print("End of loop")

5 square is 25
6 square is 36
7 square is 49
End of loop

Example of inclusive `range()`, Print all numbers from 5 to 10, and print a message when the loop has ended:

In [15]:
for val in range (5, 10 + 1):
    print (val)
    
print ("the loop has ended")

5
6
7
8
9
10
the loop has ended

Reversing the order using built-in reversed function:

In [17]:
x = range(5)

for i in reversed(x):
    print (i)

4
3
2
1
0

Reversing string

In [19]:
for i in reversed("welcome"):
    print (i)

e
m
o
c
l
e
w

Range `(begin , end , stride)`or `(start, stop, step)` returns an iterable that integers starting with `begin`, up to but not including `end`.  If specified, `stride` indicates and amount to skip between values.<br>
Omitted, it defaults to 1:

In [20]:
list(range(5, 10, 1))

[5, 6, 7, 8, 9]

In [21]:
x = list(range(5, 10, 2))
print(x)

[5, 7, 9]

We can specify the `step` (including a negative `step`) as the third argument

In [22]:
tuple(range(5, -10, -2))

(5, 3, 1, -1, -3, -5, -7, -9)

In [23]:
list(range(-2, -10, -2))

[-2, -4, -6, -8]

In [2]:
start = -2
stop = -10
step = -2

for number in range (start, stop, step):
    print (number)

-2
-4
-6
-8

If step is positive, then you move through a series of increasing numbers.
Increment the sequence with 2 (default is 1):

In [4]:
for x in range (2, 20, 2):
    print (x, end = ', ')

2 4 6 8 10 12 14 16 18

5 to 1 descending order:<br>
Range (start_value, end_value, step).

Write a Python program that accepts a word from the user and reverse it<br>
to get this below code https://www.w3resource.com/python-exercises/python-conditional-exercise-5.php

practice makes a man perfect

In [6]:
word = input("Input a word to reverse: ")

len_word = len(word)

for char in range(len_word-1, -1, -1):
    
    print(word[char], end = "")
    
print("\n")

Input a word to reverse: Schweinsteiger
regietsniewhcS

Using `len()` function to get the length of elements

In [32]:
months = ["Jan", "Feb", "Mar", "Apr"]


for index in range(len(months)):
    print (index, months[index])

0 Jan
1 Feb
2 Mar
3 Apr

Printing the sum of first 5 natural numbers

In [7]:
value = 0                

for num in range(1, 6):  
    value = value + num  
    
print (value)

15

Here we are created empty list and we added numbers in that list using append attribute

In [31]:
integers = []

for i in range (10):
    integers.append(i)
    
print (integers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### If, else in foor loop

In [32]:
for val in range(5):
    print (val)
    
else:
    print ("The loop has completed execution")

0
1
2
3
4
The loop has completed execution

In [33]:
for i in range (1, 10):
    
    if i % 2 == 0:
        print("The number %s is divisible by 2" % i)
        
    else:
        print("The number %s is not divisible by 2" % i)

The number 1 is not divisible by 2
The number 2 is divisible by 2
The number 3 is not divisible by 2
The number 4 is divisible by 2
The number 5 is not divisible by 2
The number 6 is divisible by 2
The number 7 is not divisible by 2
The number 8 is divisible by 2
The number 9 is not divisible by 2

In [34]:
num_list = []

for i in range(1, 21):
    
    if (i%3==0 or i%5==0):
        num_list.append(i)
        
print(num_list)

[3, 5, 6, 9, 10, 12, 15, 18, 20]

Print program to find numbers between 100 and 301 where each digit of a number is an even number.  The numbers obtained should be printed in a comma-separated sequence

In [35]:
items = []

for i in range(100, 301):
    
    num_str = str(i)
    first_digit = int(num_str[0])
    second_digit = int(num_str[1])
    third_digit = int(num_str[2])
    
    if (first_digit % 2 == 0) and (second_digit % 2 == 0) and (third_digit % 2 == 0):
        items.append(num_str)
        
print( ", ".join(items))

200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288

### If, elif and else statement in for loop

In [36]:
for i in range(1, 16):
    
    if i % 3 == 0 and i % 5 == 0:
        print(i,"is divisible by both 3 and 5")
    elif i % 3 == 0:
        print(i,"is divisible by 3")
    elif i % 5 == 0:
        print(i,"is divisible by 5")

3 is divisible by 3
5 is divisible by 5
6 is divisible by 3
9 is divisible by 3
10 is divisible by 5
12 is divisible by 3
15 is divisible by both 3 and 5

### Nested ForLoop

A nested loop is a loop inside a loop

Here we have nested loop means simply we have a loop (outer loop) that has inside its commands annother loop(inner loop).

Pattern program

In [38]:
num = int(input("Enter the number of rows:"))

for i in range(num): 
    for j in range(i):
        
         print(i, end = " ") 
    print()

Enter the number of rows:6

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [48]:
num = int(input("Enter the number of rows:"))

for i in range(num):
    for x in range (i):
        
        print ("*", end = " ") 
    print()

Enter the number of rows:5

*
* *
* * *
* * * *

In [49]:
num = int(input("Enter the number of rows:"))

for i in range(num, 0, -1):
    for x in range(i):
        
        print ("*", end = " ") 
    print()

Enter the number of rows:3
* * *
* *
*

Here we a block of code you want to run x number of times, then a block of code within that code which you want to run y number of times

In [52]:
for x in range (1, 4):
    for y in range (5, 8):
        
        print("%d * %d = %d" % (x, y, x * y))

1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21

{:2d} in the format function makes sure that you have always have space for two digits.

create a table like structure having multiples of 1 to 9

In [8]:
for num1 in range(1, 10):
    print("num =", num1, ":", end = " ")
    
    for num_2 in range(1, 10):
        print("{:2d}".format(num1 * num_2), end = " ")
        
    print()

num = 1 :  1  2  3  4  5  6  7  8  9
num = 2 :  2  4  6  8 10 12 14 16 18
num = 3 :  3  6  9 12 15 18 21 24 27
num = 4 :  4  8 12 16 20 24 28 32 36
num = 5 :  5 10 15 20 25 30 35 40 45
num = 6 :  6 12 18 24 30 36 42 48 54
num = 7 :  7 14 21 28 35 42 49 56 63
num = 8 :  8 16 24 32 40 48 56 64 72
num = 9 :  9 18 27 36 45 54 63 72 81