### Analyzing Marvel Character data with Spark SQL

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark import SparkContext

spark = SparkSession \
        .builder \
        .appName("Analyzing Marvel Character data") \
        .getOrCreate()

In [2]:
from pyspark.sql.types import Row

In [3]:
sqlContext=SQLContext(spark)

#### Loading Marvel character data

Both the datasets are taken from https://www.kaggle.com/dannielr/marvel-superheroes. <br />
The gives some personal information about a character such as their name, gender, eye color etc. The second dataset has data about their fighting attributes - speed, power, strength etc. In both datasets, the 'name' and 'alignment' columns are common

In [4]:
characters_info = "../datasets/marvel_characters_info.csv"

characters_stats = "../datasets/characters_stats.csv"

In [5]:
characters = spark.read\
                  .format("csv")\
                  .option("header", "true")\
                  .load(characters_info)

In [6]:
characters.columns

['ID',
 'Name',
 'Alignment',
 'Gender',
 'EyeColor',
 'Race',
 'HairColor',
 'Publisher',
 'SkinColor',
 'Height',
 'Weight']

In [7]:
characters = characters.drop('ID',
                             'Alignment',
                             'EyeColor',
                             'Race',
                             'HairColor',
                             'SkinColor',
                             'Height',
                             'Weight')

In [8]:
characters = characters.filter(characters.Gender != 'NA')

#### Register the dataframe as a temporary view

* The view is valid for one session
* This is required to run SQL commands on the dataframe

In [9]:
characters.createOrReplaceTempView("characters")

In [10]:
characters= spark.sql("SELECT * FROM characters")

characters.columns

['Name', 'Gender', 'Publisher']

In [11]:
characters.show()

+-----------------+------+-----------------+
|             Name|Gender|        Publisher|
+-----------------+------+-----------------+
|           A-Bomb|  Male|    Marvel Comics|
|       Abe Sapien|  Male|Dark Horse Comics|
|         Abin Sur|  Male|        DC Comics|
|      Abomination|  Male|    Marvel Comics|
|          Abraxas|  Male|    Marvel Comics|
|    Absorbing Man|  Male|    Marvel Comics|
|      Adam Monroe|  Male|     NBC - Heroes|
|     Adam Strange|  Male|        DC Comics|
|         Agent 13|Female|    Marvel Comics|
|        Agent Bob|  Male|    Marvel Comics|
|       Agent Zero|  Male|    Marvel Comics|
|       Air-Walker|  Male|    Marvel Comics|
|             Ajax|  Male|    Marvel Comics|
|       Alan Scott|  Male|        DC Comics|
|      Alex Mercer|  Male|        Wildstorm|
|     Alex Woolsly|  Male|     NBC - Heroes|
|Alfred Pennyworth|  Male|        DC Comics|
|            Alien|  Male|Dark Horse Comics|
| Allan Quatermain|  Male|        Wildstorm|
|            Amazo|  Male|        DC Comics|
+-----------------+------+-----------------+
only showing top 20 rows

In [12]:
powers = spark.read\
              .format("csv")\
              .option("header", "true")\
              .load(characters_stats)

In [13]:
powers.columns

['Name',
 'Alignment',
 'Intelligence',
 'Strength',
 'Speed',
 'Durability',
 'Power',
 'Combat',
 'Total']

#### We do not want null values for alignment

In [14]:
powers = powers.filter(powers.Alignment != 'NA')

In [15]:
powers = powers.drop('Durability',
                     'Combat',
                     'Total')

#### All the values are in string form - so we convert them to integers

In [16]:
from pyspark.sql.types import IntegerType

powers = powers.withColumn("Intelligence", powers["Intelligence"].cast(IntegerType()))\
               .withColumn("Power", powers["Power"].cast(IntegerType()))\
               .withColumn("Speed", powers["Speed"].cast(IntegerType()))\
               .withColumn("Strength", powers["Strength"].cast(IntegerType()))

#### Register the dataframe as a temporary view

* The view is valid for one session
* This is required to run SQL commands on the dataframe

In [17]:
powers.createOrReplaceTempView("powers")

powers.columns

['Name', 'Alignment', 'Intelligence', 'Strength', 'Speed', 'Power']

In [18]:
powers.show(5)

+-----------+---------+------------+--------+-----+-----+
|       Name|Alignment|Intelligence|Strength|Speed|Power|
+-----------+---------+------------+--------+-----+-----+
|    3-D Man|     good|          50|      31|   43|   25|
|     A-Bomb|     good|          38|     100|   17|   17|
| Abe Sapien|     good|          88|      14|   35|   35|
|   Abin Sur|     good|          50|      90|   53|   84|
|Abomination|      bad|          63|      80|   53|   55|
+-----------+---------+------------+--------+-----+-----+
only showing top 5 rows

#### Counting with dataframes

In [19]:
characters.count(), powers.count()

(734, 608)

#### Counting using SQL

In [20]:
characters_count = spark.sql("SELECT COUNT(*) FROM characters")

powers_count = spark.sql("SELECT COUNT(*) FROM powers")

In [21]:
characters_count, powers_count

(DataFrame[count(1): bigint], DataFrame[count(1): bigint])

In [22]:
characters_count.collect()[0][0], powers_count.collect()[0][0]

(734, 608)

#### Dataframes created using SQL commands can be aggregated, grouped etc. exactly as before

Here we want to do aggregation on those heros whose speed is greater than 20 unit

In [23]:
quick_chars = spark.sql("SELECT Speed FROM powers WHERE Speed >20")\
                   .agg({"Speed":"count"})\
                   .withColumnRenamed("count(Speed)","num_quick_chars")

In [24]:
quick_chars.show()

+---------------+
|num_quick_chars|
+---------------+
|            359|
+---------------+

#### Analyzing most powerful hero

In [25]:
powerful_heroes = spark.sql(
                    "SELECT Name, Alignment, Intelligence, Strength,Power " +
                    "FROM powers WHERE Strength >= 30 and Power > 40")

powerful_heroes.show(5)

+-----------+---------+------------+--------+-----+
|       Name|Alignment|Intelligence|Strength|Power|
+-----------+---------+------------+--------+-----+
|   Abin Sur|     good|          50|      90|   84|
|Abomination|      bad|          63|      80|   55|
|    Abraxas|      bad|          88|     100|  100|
| Air-Walker|      bad|          50|      85|  100|
| Alan Scott|     good|          63|      80|   98|
+-----------+---------+------------+--------+-----+
only showing top 5 rows

In [26]:
powerful_heroes.createOrReplaceTempView("powerful_heroes_view")

In [27]:
powerful_heroes.orderBy(powerful_heroes.Power.desc()).show(50)

+-----------------+---------+------------+--------+-----+
|             Name|Alignment|Intelligence|Strength|Power|
+-----------------+---------+------------+--------+-----+
|          Abraxas|      bad|          88|     100|  100|
|     Anti-Monitor|      bad|          88|      90|  100|
|       Air-Walker|      bad|          50|      85|  100|
|         Beyonder|     good|          88|     100|  100|
|       Black Bolt|     good|          75|      67|  100|
|            Cable|     good|          88|      48|  100|
|  Cyborg Superman|      bad|          75|      93|  100|
|       Apocalypse|      bad|         100|     100|  100|
|         Dormammu|      bad|          88|      95|  100|
|     Dr Manhattan|     good|          88|      32|  100|
|           Exodus|      bad|          63|      81|  100|
|    Fallen One II|      bad|          88|      85|  100|
|        Firestorm|     good|          50|      53|  100|
|         Galactus|  neutral|         100|     100|  100|
|             Goku|     good|          56|     100|  100|
|       Hal Jordan|     good|          63|      90|  100|
|           Iceman|     good|          63|      32|  100|
|         Iron Man|     good|         100|      85|  100|
|         Darkseid|      bad|          88|     100|  100|
|    Beta Ray Bill|     good|          63|      80|  100|
|Martian Manhunter|     good|         100|     100|  100|
|      Marvel Girl|     good|          63|      85|  100|
|         Mephisto|      bad|          88|      85|  100|
|     Miss Martian|     good|          63|      85|  100|
|   Naruto Uzumaki|     good|          50|      80|  100|
|             Nova|     good|         100|      85|  100|
|             Nova|     good|          38|      60|  100|
|        Onslaught|      bad|          88|      85|  100|
|          Phoenix|     good|         100|      80|  100|
|      Plastic Man|     good|          50|      63|  100|
|    Silver Surfer|     good|          63|     100|  100|
|         Sinestro|      bad|          75|      80|  100|
|            Spawn|     good|          75|      60|  100|
|         Stardust|     good|          88|      85|  100|
|   Superboy-Prime|      bad|          94|     100|  100|
|           Thanos|      bad|          88|     100|  100|
|             Thor|     good|          69|     100|  100|
|        Thor Girl|     good|          75|      83|  100|
|           Ultron|      bad|          88|      83|  100|
|      War Machine|     good|          63|      80|  100|
|          Watcher|     good|         100|      80|  100|
|        Jean Grey|     good|         100|      80|  100|
|          Kilowog|     good|          81|      90|  100|
|         Doomsday|      bad|          88|      80|  100|
|            Magus|      bad|          88|     100|  100|
|            Amazo|      bad|          75|     100|  100|
|       Alan Scott|     good|          63|      80|   98|
|        Man-Thing|     good|          50|      32|   98|
|  Blue Beetle III|     good|          50|      34|   97|
|      Guy Gardner|     good|          38|      80|   97|
+-----------------+---------+------------+--------+-----+
only showing top 50 rows

In [28]:
powerful_heroes_count = spark.sql("SELECT COUNT(Power) FROM powerful_heroes_view")

#### Total number of heros whose power is greater than 40

In [29]:
powerful_heroes_count.show()

+------------+
|count(Power)|
+------------+
|         164|
+------------+

In [30]:
powerful_heroes_count.collect()[0][0]

164

#### Percentage of heroes whose power is greater than 40

In [31]:
power_percent = powerful_heroes_count.collect()[0][0]/ powers_count.collect()[0][0] * 100
power_percent

26.973684210526315

#### Finding intelligence per alignment
The alignment takes 3 categorical values - good, bad and neutral

In [32]:
intel_per_alignment = spark.sql("SELECT Alignment,Intelligence FROM powers")\
                           .groupBy("Alignment")\
                           .agg({"Intelligence":"avg"})\
                           .withColumnRenamed("avg(Intelligence)", "Intelligence")

In [33]:
intel_per_alignment.orderBy(intel_per_alignment.Intelligence.desc()).show()

+---------+------------------+
|Alignment|      Intelligence|
+---------+------------------+
|  neutral| 60.90909090909091|
|      bad|50.018181818181816|
|     good|41.995370370370374|
+---------+------------------+

#### SQL join operations 

* Get the names of the Publisher with intelligence and power column

In [34]:
chars_overview = spark.sql("SELECT * FROM powers " +
                           "JOIN characters on characters.Name = powers.Name " +
                           "ORDER by Intelligence DESC").drop(characters.Name)

chars_overview.show(30)

+-----------------+---------+------------+--------+-----+-----+------+-------------+
|             Name|Alignment|Intelligence|Strength|Speed|Power|Gender|    Publisher|
+-----------------+---------+------------+--------+-----+-----+------+-------------+
|  Mister Mxyzptlk|      bad|         113|      10|   12|  100|  Male|    DC Comics|
|          Ant-Man|     good|         100|      10|   23|   32|  Male|Marvel Comics|
|           Batman|     good|         100|      18|   27|   37|  Male|    DC Comics|
|       Apocalypse|      bad|         100|     100|   33|  100|  Male|Marvel Comics|
|   Captain Marvel|     good|         100|     100|   67|   62|Female|Marvel Comics|
|           Batman|     good|         100|      18|   27|   37|  Male|    DC Comics|
|         Brainiac|      bad|         100|      28|   63|   60|  Male|    DC Comics|
|       Brainiac 5|     good|         100|      10|   23|   60|  Male|    DC Comics|
|            Joker|      bad|         100|      10|   12|   22|  Male|    DC Comics|
|   Captain Marvel|     good|         100|     100|   67|   62|  Male|    DC Comics|
|      Doctor Doom|      bad|         100|      32|   20|   93|  Male|Marvel Comics|
|   Doctor Strange|     good|         100|      10|   12|  100|  Male|Marvel Comics|
|             Nova|     good|         100|      85|   67|  100|Female|Marvel Comics|
|         Galactus|  neutral|         100|     100|   83|  100|  Male|Marvel Comics|
|         Iron Man|     good|         100|      85|   58|  100|  Male|Marvel Comics|
|        Jean Grey|     good|         100|      80|   67|  100|Female|Marvel Comics|
|             Kang|      bad|         100|      48|   58|   71|  Male|Marvel Comics|
|           Leader|      bad|         100|      10|   12|   58|  Male|Marvel Comics|
|       Lex Luthor|      bad|         100|      10|   12|   10|  Male|    DC Comics|
|         Mandarin|      bad|         100|      28|   23|   99|  Male|Marvel Comics|
|Martian Manhunter|     good|         100|     100|   96|  100|  Male|    DC Comics|
| Mister Fantastic|     good|         100|      10|   18|   32|  Male|Marvel Comics|
|             Nova|     good|         100|      85|   67|  100|  Male|Marvel Comics|
|          Phoenix|     good|         100|      80|   67|  100|Female|Marvel Comics|
|      Professor X|     good|         100|       8|   12|   90|  Male|Marvel Comics|
|     Ra's Al Ghul|      bad|         100|      28|   32|   27|  Male|    DC Comics|
|          Riddler|      bad|         100|      10|   12|   10|  Male|    DC Comics|
|         Superman|     good|         100|     100|  100|   94|  Male|    DC Comics|
|         Tinkerer|      bad|         100|      10|   23|   10|  Male|Marvel Comics|
|           Vision|     good|         100|      72|   54|   76|  Male|Marvel Comics|
+-----------------+---------+------------+--------+-----+-----+------+-------------+
only showing top 30 rows