### while loop using complex data types

#### List Iteration Using While loop

In [2]:
num_list = [20, 30, 40, 50, 60]

In [3]:
count = 0 

while count < len(num_list):
    
    print(num_list[count])
    
    count = count + 1

20
30
40
50
60

Count the number of elements in a list using whileloop

In [4]:
count = 0

while count < len(num_list):
    
    count = count + 1
    
print("there are %d elements in the list" %count)

there are 5 elements in the list

Getting the sum of a list of numbers using while loop

In [5]:
total = 0
element = 0

while element < len(num_list):

    total = total + num_list[element]
    
    print(total)
    
    element += 1
    
print("sum of all elements in the list :" , total)

20
50
90
140
200
sum of all elements in the list : 200

The equivalent for loop for the same operation

In [7]:
total = 0
element = 0

for element in num_list:

    total += element
    
    print(total)
    
print("sum of all elements in the list :" , total)

20
50
90
140
200
sum of all elements in the list : 200

Using whileloop with list of string

In [8]:
smartphone_brands = ["Samsung", "Huawei", "Apple", 
                     "Nokia", "OnePlus", "Vivo", "Sony"]

An error will be thrown if we try a while loop out of range of a list

In [10]:
count = 0

while count < 10:
    print(smartphone_brands[count])
    
    count = count + 1

Samsung
Huawei
Apple
Nokia
OnePlus
Vivo
Sony

IndexError: list index out of range

In [11]:
len(smartphone_brands)

7

Now we are using length of the list here

In [13]:
count = 0

while count < len(smartphone_brands):
    
    print(smartphone_brands[count])
    
    count = count + 1

Samsung
Huawei
Apple
Nokia
OnePlus
Vivo
Sony

we can print the even elements as well<br>
So here we are increasing the count by 2

In [28]:
count = 0

while count < len(smartphone_companies):
    
    print(smartphone_companies[count])
    
    count = count + 2

Samsung
Apple
Oppo
Lenovo

Using whileloop make two list one containing all even numbers and anothor containing all odd numbers from 0 upto 50

In [14]:
even_list = []
odd_list = []
num = 0

while num <= 50:
    
    if num % 2 == 0:
        even_list.append(num)
        
    else:
        odd_list.append(num)
        
    num += 1

In [15]:
print(even_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [16]:
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

Find average and sum of the list of numbers(Here we are specifying the count)

In [33]:
num_list = []
index = 0
total = 0

count = int(input("enter the number of elements: ")) 

while index < count:
    
    num_list.append(int(input("enter a number: ")))
    
    total = total + num_list[index]
    index = index + 1
    
print("\nsum of the numbers: ", total)

avg = total/len(num_list)
print("average of the numbers: ", avg)

enter the number of elements: 5
enter a number: 78
enter a number: 96
enter a number: 78
enter a number: 9
enter a number: 7

sum of the numbers:  268
average of the numbers:  53.6

Building long lists by writing down all the elements separated by commas<br>
Create a list of numbers  from -20 to 20 in steps of 2.5

In [17]:
num_list = []
num_value = -20
max_value = 20

while num_value <= max_value:
    
    num_list.append(num_value)
    
    num_value += 2

In [18]:
num_list

[-20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20]

Convert a list of values from Celsius to fahrenheit<br>
Celsius to fahrenheit = (°C × 9/5) + 32 = F

In [36]:
c_degrees = [-20, -15, -10, -5, 0, 5, 10, 15, 20, 25, 30, 35, 40]
index = 0

print( '    C    F')

while index < len(c_degrees):
    
    C = c_degrees[index]
    F = (9.0/5)*C + 32
    
    print( '%5d %5.1f' % (C, F))
    
    index += 1

    C    F
  -20  -4.0
  -15   5.0
  -10  14.0
   -5  23.0
    0  32.0
    5  41.0
   10  50.0
   15  59.0
   20  68.0
   25  77.0
   30  86.0
   35  95.0
   40 104.0

Here is two different list called name list and age list<br>
Using nested while loop i am printing those together

In [20]:
name_list = ["William", "James", "Olive", "Jessie", "Liam"]

age_list = [22, 26, 24, 28, 21]

In [21]:
index = 0

while index < len(name_list):
    
    print(name_list[index], "is", age_list[index], "years old")

    index = index + 1

William is 22 years old
James is 26 years old
Olive is 24 years old
Jessie is 28 years old
Liam is 21 years old

#### While loop with tuple

Printing ou a tuple

In [23]:
alpha_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
count = 0

while count < 8:
    
    print (alpha_tuple[count]) 
    
    count = count + 1

a
b
c
d
e
f
g
h

Getting the sum of a tuple

In [41]:
num_tuple = (34, 65, 98, 67, 56)

In [42]:
sum_value = 0
count = 0 

while count < len(num_tuple):
    
    sum_value = sum_value + num_tuple[count]
    
    count = count + 1
    
print("sum of the elements in the tuple is: ", sum_value)

sum of the elements in the tuple is:  320

In [28]:
character_name = ("Missandei", "Samwell", "Jorah", "Brienne", "Margaery")

In [29]:
long_name = character_name[0]
index = 0

while index < len(character_name): 
    
    if len(long_name) < len(character_name[index]): 
        
        long_name = character_name[index]
        
    index = index + 1
    
print("the longest name in the tuple is: ", long_name)

the longest name in the tuple is:  Missandei

Getting the count of vowels from a sentence: let the cat out of the bag

In [30]:
sentence = input("enter a sentence: ")
sentence = sentence.lower()

index = 0
count = 0

vowels = ("a", "e", "i", "o", "u")

while index < len(sentence):
    
    if sentence[index] in vowels:
        count += 1
        
    index += 1
    
print("there are %s vowels in this sentence" % count)

enter a sentence: let the cat out of the bag
there are 8 vowels in this sentence

#### While loop with dictionary

Ckeck a key is in dictionary or not

In [32]:
employee_dict = {"name": "Tiago",
                 "age": "27",
                 "designation": "Assistant Manager"
               }
employee_dict

{'age': '27', 'designation': 'Assistant Manager', 'name': 'Tiago'}

In [33]:
info = ""

while info != "quit":

    info = input("\nEnter the information required: ")
    
    if info in employee_dict:
        
        print(employee_dict[info])
        
    elif(info == "quit"):
         print("End of the program")
          
    else:
         print("This is not a valid key, try again")

Enter the information required: designation
Assistant Manager

Enter the information required: name
Tiago

Enter the information required: age
27

Enter the information required: quit
End of the program